<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="userMenuFragment">
    <div id="user-menu-div">
        <div style="height: 2vh;">&nbsp;</div>
        <img src="/images/vehicle-icon.png">
        <!-- <div style="height: 3vh;">&nbsp;</div> -->
        <table id="user-menu-table">
            <colgroup>
                <col width=25%>
                <col width=25%>
                <col width=25%>
                <col width=25%>
            </colgroup>
            <thead id="userMenu">
                <tr>
                    <td onclick="location.href='/home'">홈</td>
                    <td onclick="location.href='/manage'">차량 관리</td>
                    <td onclick="location.href='/sales'">판매 정보 등록</td>
                    <td onclick="location.href='/carList'">판매 목록</td>
                </tr>
            </thead>
        </table>
        <div style="height: 3vh;">&nbsp;</div>
    </div>
</th:block>

</html>