<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">

<table id="carList-content-table" class="table table-hover">
    <colgroup>
        <col width="14%">
        <col width="14%">
        <col width="14%">
        <col width="14%">
        <col width="14%">
        <col width="14%">
        <col width="*">
    </colgroup>
    <thead>
        <tr>
            <td rowspan="2">No.</td>
            <td colspan="4">구매자정보</td>
            <td colspan="2">차량정보</td>
        </tr>
        <tr>
            <td>구매자명</td>
            <td>연락처</td>
            <td>구매일</td>
            <td>색상</td>
            <td>모델명</td>
            <td>금액</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                이
            </td>
            <td>
                제
            </td>
            <td>
                여
            </td>
            <td>
                기
            </td>
            <td>
                에
            </td>
            <td>
                다
            </td>
            <td>
                데
            </td>
        </tr>
        <tr>
            <td>
                이
            </td>
            <td>
                터
            </td>
            <td>
                넣
            </td>
            <td>
                어
            </td>
            <td>
                보
            </td>
            <td>
                자
            </td>
            <td>
                !!!
            </td>
        </tr>
    </tbody>
</table>

</th:block>


<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>