<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <label class="bottom-line">
        <strong>
            <h3>판매 목록</h3>
        </strong>
    </label>
    <div class="div-mb"></div>
<table id="carList-content-table" class="table table-hover">
    <colgroup>
        <col width="5%">
        <col width="16%">
        <col width="16%">
        <col width="*">
        <col width="10%">
        <col width="16%">
        <col width="17%">
    </colgroup>
    <thead class="table-light">
        <tr>
            <td rowspan="2"><strong>No</strong></td>
            <td colspan="4"><strong>구매자정보</strong></td>
            <td colspan="2"><strong>차량정보</strong></td>
        </tr>
        <tr>
            <td><strong>구매자명</strong></td>
            <td><strong>연락처</strong></td>
            <td><strong>구매일</strong></td>
            <td><strong>색상</strong></td>
            <td><strong>모델명</strong></td>
            <td><strong>금액</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="sales, state : ${salesList}">
            <td>
                [[${state.index+1}]]
            </td>
            <td>
                [[${sales.customerName}]]
            </td>
            <td>
                [[${sales.customerTel}]]
            </td>
            <td>
                [[${sales.salesDate}]]
            </td>
            <td>
                [[${sales.carColor}]]
            </td>
            <td>
                [[${sales.modelName}]]
            </td>
            <td>
                [[${#numbers.formatCurrency(sales.price)}]]
            </td>
        </tr>
    </tbody>
</table>

</th:block>


<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>