<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <label class="bottom-line">
        <strong>
            <h3>차량등록</h3>
        </strong>
    </label>
    <div class="div-mb"></div>
    <form class="row g-3" action="/insertCar" method="post">
        <div class="col-md-4">
            <label for="" class="form-label"><strong>제조사</strong></label>
            <select class="form-select" aria-label="Default select" name="maker">
                <option value="현대" selected>현대</option>
                <option value="기아">기아</option>
                <option value="대우">대우</option>
                <option value="벤츠">벤츠</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="" class="form-label"><strong>모델명</strong></label>
            <input type="text" class="form-control" id="" name="modelName">
        </div>
        <div class="col-md-4">
            <label for="" class="form-label"><strong>차량가격</strong></label>
            <input type="text" class="form-control" id="" name="price">
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary"
                style="border-radius: 0px; text-shadow: 2px 2px rgb(0, 0, 0); width: 120px;">등록</button>
        </div>
    </form>
    <div style="height: 10vh;">&nbsp;</div>
    <label class="bottom-line">
        <strong>
            <h3>차량목록</h3>
        </strong>
    </label>
    <div class="div-mb"></div>
    <table class="table table-hover" id="manage-content-table">
        <colgroup>
            <col width="*">
            <col width="40%">
            <col width="40%">
        </colgroup>
        <thead>
            <tr>
                <td><strong>모델번호</strong></td>
                <td><strong>모델명</strong></td>
                <td><strong>제조사</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>