<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <label class="bottom-line">
        <strong>
            <h3>판매 정보 등록</h3>
        </strong>
    </label>
    <div class="div-mb"></div>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="caution">
        <font color="red">*</font> 빈 값을 넣을 경우 등록되지 않습니다.
    </div>
    <form action="/insertSales" method="post">
        <table id="sales-content-table">
            <tbody>
                <tr>
                    <td>
                        <div class="row mb-4">
                            <label for="" class="col-1 col-form-label"><strong>구매자명</strong></label>
                            <div class="col-11">
                                <input type="text" class="form-control" name="customerName">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row mb-4">
                            <label for="" class="col-1 col-form-label"><strong>색상</strong></label>
                            <div class="col-5">
                                <select class="form-select" aria-label="Default select" name="carColor">
                                    <option selected></option>
                                    <option value="블랙">블랙</option>
                                    <option value="화이트">화이트</option>
                                    <option value="실버">실버</option>
                                    <option value="레드">레드</option>
                                </select>
                            </div>
                            <th:block>
                                <label for="" class="col-1 col-form-label"><strong>모델</strong></label>
                                <div class="col-5">
                                    <!-- 셀렉트로 저장된 모델명들 구현 -->
                                    <th:block>
                                        <select class="form-select" aria-label="Default select" name="modelNumber">
                                            <option selected></option>
                                            <option th:each="car : ${carList}" th:value="${car.modelNumber}">
                                                [[${car.modelName}]]
                                            </option>
                                        </select>
                                    </th:block>
                                </div>
                            </th:block>                           
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row mb-4">
                            <label for="" class="col-1 col-form-label"><strong>연락처</strong></label>
                            <div class="col-8">
                                <input type="text" class="form-control" name="customerTel" placeholder="- 없이 적어주세요.">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row mb-4">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary"
                                    style="border-radius: 0px; text-shadow: 2px 2px rgb(0, 0, 0); width: 120px;">등록</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
</th:block>


<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/vehicle.js"></script>
</th:block>

</html>