<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="vehicleMapper">

    <resultMap id="carInfo" type="com.testing.vehicle.sale.vo.CarInfoVO">
        <id column="MODEL_NUMBER" property="modelNumber"/>
        <result column="MODEL_NAME" property="modelName"/>
        <result column="PRICE" property="price"/>
        <result column="MAKER" property="maker"/>
    </resultMap>

    <resultMap id="salesInfo" type="com.testing.vehicle.sale.vo.SalesInfoVO">
        <id column="SALES_NUMBER" property="salesNumber"/>
        <result column="CUSTOMER_NAME" property="customerName"/>
        <result column="CUSTOMER_TEL" property="customerTel"/>
        <result column="CAR_COLOR" property="carColor"/>
        <result column=" MODEL_NUMBER" property="modelNumber"/>
        <result column="SALES_DATE" property="salesDate"/>
        <collection property="carInfoVO" resultMap="carInfo"/>
    </resultMap>

    <!-- 차량등록 -->
    <insert id="insertCar">
        INSERT INTO CAR_INFO (
            MAKER
            , MODEL_NAME
            , PRICE
            , MODEL_NUMBER
        ) VALUES (
            #{maker}
            , #{modelName}
            , #{price}
            , #{modelNumber}
        )
    </insert>

    <!-- 차량등록 / 리스트 표시 -->
    <select id="selectCarList" resultMap="carInfo">
    <!-- 모델번호, 모델이름, 제조사-->
        SELECT MODEL_NUMBER
            , MODEL_NAME
            , MAKER
        FROM CAR_INFO
    </select>

    <!--차량 판매정보등록 -->
    <insert id="insertSales">
        INSERT INTO SALES_INFO (
            CUSTOMER_NAME
            , CUSTOMER_TEL
            , CAR_COLOR
            , MODEL_NUMBER
        ) VALUES (
            #{customerName}
            , #{customerTel}
            , #{carColor}
            , #{modelNumber}
        )
    </insert>

    <!-- 판매목록 보여주기 -->
    <!-- @@셀렉트문, join 써서 다 보여주기@@ -->
    <select id="selectAllInfo" resultMap="salesInfo">
        SELECT CAR.MODEL_NUMBER
            , CUSTOMER_NAME
            , CUSTOMER_TEL
            , SALES_DATE
            , CAR_COLOR
            , MODEL_NAME
            , PRICE
        FROM SALES_INFO SALES INNER JOIN CAR_INFO CAR
        ON SALES.MODEL_NUMBER = CAR.MODEL_NUMBER
    </select>

<!-- 모델넘버 연동이 안됨 -->



    <!-- 팀 프로젝트 테스트용 resultMap -->
    <resultMap id="message" type="com.testing.vehicle.test.TestVO">
        <id column="MESSAGE_CODE" property="messageCode"/>
        <result column="MESSAGE_CONTENT" property="messageContent"/>
        <result column="MESSAGE_DATE" property="messageDate"/>

        <result column="MEMBER_CODE" property="memberCode"/>
        <result column="SEAT_NUM" property="seatNum"/>
    </resultMap>

    <!-- 팀 프로젝트용 message 쿼리 -->
    <!-- WHERE문을 통한 조건문은 나중에 -->
    <insert id="insertMessage">
        INSERT INTO STUDYROOM_MESSAGE (
        MESSAGE_CONTENT
        , MEMBER_CODE
        , SEAT_NUM
        ) VALUES (
        #{messageContent}
        , #{memberCode}
        , #{seatNum}
        )
    </insert>






</mapper>































